

@import'../../node_modules/vuetify/src/stylus/settings/_colors'
$theme:= {
  primary: "#90CAF9",
  secondary: "#BDBDBD",
  accent: "#0D47A1",
  error: "#C62828",
  warning: "#ffeb3b",
  info: "#F57C00",
  success: "#4caf50"
}    

@import'../../node_modules/vuetify/src/stylus/main'